[submodule "network_evaluation"]
	path = network_evaluation
	url = git@github.com:illinois-or-research-analytics/network_evaluation.git
[submodule "network-generation"]
	path = network-generation
	url = git@github.com:vltanh/network-generation.git
[submodule "community-detection"]
	path = community-detection
	url = git@github.com:vltanh/community-detection.git
